{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
<div class="mt-4">
  <h2 class="text-center">Sobre Nós</h2>
  <hr>
  <p class="text-muted">
    Este aplicativo foi criado com o intuito de facilitar o controle dos jogos de 
    <strong>Pontinho</strong> que jogo com minha esposa. Antes dele, utilizávamos uma planilha no 
    LibreOffice Calc. Porém, como aspirante a programador, tive a ideia de criar este app
    para tornar nossos jogos mais organizados e práticos.
  </p>

  <p class="text-center mt-5">
    Este é um app caseiro, feito com a ajuda do meu amigo, professor e programador: <strong>ChatGPT</strong> 😊
  </p>
</div>
{% endblock %}
